*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  height: 100vh;
  overflow: hidden;
}

.container{
  width: 300px;
  height: 400px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.container:hover{
  animation: foguetin 2.5s ease-in;
}
@keyframes foguetin {
  80%  { transform: rotate(45deg); }
  100% { transform: translate(1500px, -1500px) rotate(45deg); }
}
.foguete{
  width: 120px;
  height: 220px;
  background: dodgerblue;
  border-radius: 50% / 70% 70% 30% 30%;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.desenho{
  position: relative;
  width: 50px;
  height: 50px;
  background: crimson;
  border-radius: 50% 50% 0 0;
  top: 20%;
  left: -12%;
  transform: rotate(-45deg) scale(.8);
  filter: drop-shadow(0 0 2px white);
}

.desenho::before{
  content: "";
  position: absolute;
  width: inherit;
  height: 75px;
  background: inherit;
  border-radius: 25px 25px 0 0;
  left: -12px;
  top: 25%;
  transform: translateX(50%) rotate(90deg);
}

.asas{
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 70px;
  top: -20%;
}

.asas-2{
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 50%;
  bottom: -25px;
  z-index: -1;
  box-shadow: 0 0 0 70px crimson;
}

.asas-3{
  position: relative;
  background: crimson;
  width: 120px;
  height: 42px;
  top: -205px;
  transform: perspective(2px) rotateX(2.2deg);
  z-index: -1;
}


.detalhe{
  position: relative;
  width: 45px;
  height: 45px;
  background: crimson;
  top: -130px;
  transform: rotate(45deg);
  border-radius: 0 50%;
}

.detalhe::before{
  position: absolute;
  content: "";
  width: 35px;
  height: 75px;
  background: inherit;
  transform: translate(-92%,-52px) rotate(-45deg) perspective(1px) rotateX(.31deg);
  border-radius: 50% 50% 0 0;
}

.chamas{
  position: relative;
  top: 150px;
  z-index: -1;
  width: 75px;
  height: 75px;
  background: goldenrod;
  border-radius: 0 50%;
  transform: rotate(45deg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.chamas::before{
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  background: gold;
  border-radius: 50%;
}

